
html {
  font-family: sans-serif;
}
h1 {
  text-align: center;
}
th {
  padding: 5px;
}
tr:nth-child(even) {
  background-color: rgba(127, 127, 255, 0.2);
}
label {
  display: block;
  font-size: 0.8em;
  text-align: left;
  padding-left: 5px;
}
.food-field {
  float: left;
}

.container {
  margin: 5px;
  padding: 20px;
  border: 1px solid rgba( 0,0,0,0.2);
  border-radius: 10px;
  background-color: rgba( 127,127,255,0.1);
}

.App {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
#food-search {
  margin-top: 1em;
}
.food-search-table {
  width: 50%;
  margin: 10px auto;
}

input {
  line-height: 2em;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  margin-right: 5px;
}
input:focus {
  border-color: rgba( 127, 127, 255, 0.5);
}

select {
  height: 3em;
  line-height: 2em;
  border-radius: 5px;
  padding:5px;
  margin-right: 5px;
}

.entry-narrow {
  max-width: 3em;
}

button {
  font-size: 1.5em;
  font-weight: bold;
  background: linear-gradient( to top, limegreen, lime); /* lawngreen, springgreen); */
  border-radius: 10px;
}
button:focus {
  outline: none;
  box-shadow: 1px 0px 6px lime;
}

.hand-select{
  cursor: pointer;
}
.right-align {
  text-align: right;
}
.left-align {
  text-align: left;
}
